<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post added</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form class="newPost" action="/posts" method="post"> 
        <input type="text" name="user" id="" placeholder="Enter your username">
        <br><br>
        <textarea name="desc" id="">Write a post</textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>