body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    width: 90%;
    height: 12rem;
    background-color: #bb5b5b;
    color: #fff;
    /* border: 1px solid black; */
    font-size: 1rem;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-bottom: 12px;
}
body h1{
    color:rgb(145, 2, 2);
    font-size: 2.6rem;
    position: relative;
    left: -33%;
}
.post-form{
    padding-top: 2rem;
    background-color:rgba(134, 44, 44, 0.774);
    width: 600px;
    height: 400px;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.post-form input{
    width: 90%;
    height: 3rem;
}
.post-form textarea{
    width: 90%;
    height: 60%;

}
.post-form button{
    width: 8rem;
    height: 3rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.container #create{
    font-size: 1.5rem;
    position: relative;
    left: -34%;
}
.post #delete{
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 6px;
    background-color: beige;
    cursor: pointer;
}
#seemore{
    padding-top:2rem;
    color: #fff;
    /* text-decoration: none; */
    font-size: 1.3rem;
}
.post #edit-desc{
    width: 50%;
    height: 10rem;
}
.edit-post{
    height: 25rem;
}
#edit-btn{
    width: 8rem;
    height: 3rem;
    position: relative;
    bottom: 7%;
}